# quickstart snippet
snippet cpp
#include <bits/stdc++.h>

using namespace std;

int main() {
	${1}
}
endsnippet

# typedefs
snippet vi
typedef vector<int> vi;
endsnippet

snippet ll
typedef long long ll;
endsnippet

# printing
snippet cout
cout << ${1};
endsnippet

snippet coutln
cout << ${1} << endl;
endsnippet

# convenience
snippet cin
cin >> ${1};
endsnippet

snippet rep
for (int $1 = 0; $1 < $2; $1++)
endsnippet
